input[type= "file"] {
    display: none;
}
.upload-label{
    display: inline-block;
    color: #fff;
    background-color: #DA171B;
    justify-content: center;
    align-items: center;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    border-radius: 50%;
    z-index: 99;
}
.upload-icon{
    font-size: 30px;
}