.page-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.navbar-page-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #ff0000;
    color: #fff;
    gap: 15px;
}
.icon-container-navbar-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    padding: 15px;
    cursor: pointer;
}
.backIcon-icon-container{
    font-size: 2rem;
    color: #ff0000;
}
.navbar-page-container h1{
    font-size: 1.5rem;
}
.product-details-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 15px;
}
.product-form-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    place-items: center;
    gap: 15px;
    width: 100%;
    padding: 20px;
    background-color: #ededed;
    border-radius: 10px;
}
.Duree-reparation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #ededed;
    border-radius: 10px;
    gap: 15px;
}
.Duree-reparation-container span{
    font-size: 1.3rem;
    font-weight: 600;
    color: #ff0000;
}
.product-details-container h1{
    align-self: flex-start;
    font-size: 1.5rem;
    color: #ff0000;
}
.panne-details-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    background-color: #ededed;
    border-radius: 10px;
    gap: 15px;
}
.panne-details-container-select-field-container{
    align-self: flex-end;
    width: 30%;
}
.panne-details-container-select-field{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #e5e5e5;
    color: #848484;
    border-radius: 5px;
    box-sizing: border-box;
}
/*medea screen*/
@media screen and (max-width: 768px){
    .product-form-container{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .navbar-page-container{
        justify-content: center;
    }
    .panne-details-container-select-field-container{
        align-self: center;
        width: 100%;
    }
}